.content{
    background-color: #333333;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content__search{
        display: flex;
        justify-content: center;
    }
    
    .content__table {
        margin: 0;
        padding: 6px;
        width: 757px;
        list-style: none;
        display: flex;
        flex-direction: column;
        border: 1px solid #226235;
        border-radius: 7px;
    }

    .content__cell{
        padding: 0;
        margin: 0;
        color: var(--color-font-secondary);
        font-family: var(--font-family-base);
        font-size: 16px;
        line-height: 140%;
    }
}